.menuBg{
	background-color: #7928CA;
	flex-direction: column;
	justify-content: center;
	max-width: 30rem;
}
.topmenu{
	display: block;
	padding: .5rem 3rem;
	color: #0070F3;
	text-decoration: wavy;
	width: 80%;
	transition: all .5s ease;
}
.lableMenu{
	position: fixed;
	top: .5rem;
	right: .5rem;
	display: block;
	width: 1.4rem;
	font-size: 1.5rem;
	border: solid white;
	padding: .2rem .4rem;
}
#inputMenu:checked ~ .topmenu{
	right: 3rem;
	transition: ease;
}
@media screen and (min-width: 48rem) {
	.lableMenu{
		display: none;
	}
	.topmenu{
		position: relative;
		top: 0;
		bottom: 0;
		width: 100%;
		flex-direction: column;
	}
	.topmenu a{
		border-bottom: 0;
	}	
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: purple;
}
.menu {
    display: flex;
    gap: 1em;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li a {
    color: white;
    text-decoration: none;
}
.menu-icon {
    display: none; 
}


@media (max-width: 48em) {
    .navbar{    
        background-color: transparent;
        padding: 1em;
    }
    .menu {
        display: none;
        flex-direction: column;
        background-color: purple;
        position: absolute;
        top: 3em;
        width: 100%;
    }
    .menu-toggle-checkbox {
        display: none; 
    }
    .menu-icon {
        display: block;
        background: none;
        border: none;
        font-size: 1.5em;
        color: white;
        cursor: pointer;
        text-align: center;
        width: 100%;
        padding: 1em;
    }
 
    .menu-toggle-checkbox:checked + .menu-icon + .menu {
        display: flex;
    }
    .menu li {
        text-align: center;
        padding: 1em 0;
    }
}
